/* You can add global styles to this file, and also import other style files */
@use "sass:map";
@use "./colors.scss";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 20px;
  box-sizing: border-box;
  background: map.get(colors.$colors, "white");
}
