<!-- <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="1rem">
  <h1 fxFlex="noshrink" class="view-heading">Users Management</h1>
  <ng-container *ngIf="users.data; else loading"
    ><div appPageSection fxLayout="column" fxLayoutAlign="center start">
      <div
        fxFill
        fxLayout="row"
        fxLayoutAlign="space-between center"
        class="table-toolbar rounded-lg bg-gray-12"
      >
        <mat-form-field
          ><mat-label><mat-icon>search</mat-icon> Search for...</mat-label
          ><input
            matInput
            (keyup)="applyFilter(input.value)"
            autocomplete="off"
            placeholder="Search for..."
            #input
          /><button
            *ngIf="input.value"
            mat-button
            matSuffix
            mat-icon-button
            class="text-magenta"
            (click)="applyFilter(''); input.value = ''"
          >
            <mat-icon>close</mat-icon>
          </button></mat-form-field
        ><span
          >There are
          <b class="text-magenta">{{ users.data.length }}</b> available users in
          database.</span
        >
      </div>
      <mat-table matSort [dataSource]="users" [trackBy]="trackBy"
        ><ng-container matColumnDef="id"
          ><mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            fxFlex="6rem"
            fxLayoutAlign="center center"
            >ID</mat-header-cell
          ><mat-cell
            *matCellDef="let user"
            fxFlex="6rem"
            fxLayoutAlign="center center"
            >{{ user.id }}</mat-cell
          ></ng-container
        ><ng-container matColumnDef="email"
          ><mat-header-cell *matHeaderCellDef mat-sort-header
            >Email</mat-header-cell
          ><mat-cell *matCellDef="let user">{{
            user.email
          }}</mat-cell></ng-container
        ><ng-container matColumnDef="role"
          ><mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            fxFlex="6rem"
            fxLayoutAlign="end center"
            >Role</mat-header-cell
          ><mat-cell
            mat-cell
            *matCellDef="let user"
            fxFlex="6rem"
            fxLayoutAlign="end center"
            >{{ user.role.name.toUpperCase() }}</mat-cell
          ></ng-container
        ><ng-container matColumnDef="action"
          ><mat-header-cell *matHeaderCellDef fxFlex="16rem"></mat-header-cell
          ><mat-cell
            mat-cell
            *matCellDef="let user"
            fxFlex="16rem"
            fxLayoutAlign="end center"
            ><button
              mat-flat-button
              color="primary"
              (click)="updateUserRole(user)"
            >
              <mat-icon>edit</mat-icon>
            </button></mat-cell
          ></ng-container
        ><mat-header-row *matHeaderRowDef="columns"></mat-header-row
        ><mat-row *matRowDef="let rowData; columns: columns"></mat-row
      ></mat-table>
    </div>
    <mat-paginator
      [length]="users.data.length"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 15, 20]"
      [showFirstLastButtons]="true"
    ></mat-paginator
  ></ng-container>
</div> -->
