<div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="1.4rem">
  <!-- <app-user-card
    *ngIf="profile | async as data"
    [profile]="data"
    [subs]="subscribers"
    [sups]="subscriptions.data"
    ngClass.gt-md="banner-container"
  ></app-user-card>
  <span class="text-bold text-accent">My articles:</span>
  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="1rem">
    <ng-container *ngIf="!!articles.data; else loading"
      ><div fxLayout="column" fxLayoutAlign="center start">
        <div
          fxFill
          fxLayout="row"
          fxLayoutAlign="space-between center"
          class="table-toolbar rounded-lg bg-gray-12"
        >
          <mat-form-field
            ><mat-label><mat-icon>search</mat-icon> Search for...</mat-label
            ><input
              matInput
              (keyup)="applyFilter(input.value)"
              autocomplete="off"
              placeholder="Search for..."
              #input
            /><button
              *ngIf="input.value"
              mat-button
              matSuffix
              mat-icon-button
              class="text-accent"
              (click)="applyFilter(''); input.value = ''"
            >
              <mat-icon>close</mat-icon>
            </button></mat-form-field
          >
        </div>
        <mat-table [dataSource]="articles" [trackBy]="trackBy"
          ><ng-container matColumnDef="id"
            ><mat-header-cell
              *matHeaderCellDef
              fxFlex="10%"
              fxLayoutAlign="start center"
              >#</mat-header-cell
            ><mat-cell
              *matCellDef="let art; let index = index"
              fxFlex="10%"
              fxLayoutAlign="start center"
              >{{ index }}</mat-cell
            ></ng-container
          ><ng-container matColumnDef="title"
            ><mat-header-cell *matHeaderCellDef>Title</mat-header-cell
            ><mat-cell
              *matCellDef="let art"
              [routerLink]="['/news', art.pk]"
              class="text-primary text-bold"
              style="cursor: pointer"
              >{{ art.title }}</mat-cell
            ></ng-container
          ><ng-container matColumnDef="tags"
            ><mat-header-cell
              *matHeaderCellDef
              fxFlex="15%"
              fxLayoutAlign="end center"
              >Tags</mat-header-cell
            ><mat-cell
              mat-cell
              *matCellDef="let art"
              fxFlex="15%"
              fxLayoutAlign="end center"
              >{{ art.tags.length }}</mat-cell
            ></ng-container
          ><ng-container matColumnDef="action"
            ><mat-header-cell
              *matHeaderCellDef
              fxFlex="15%"
              fxLayoutAlign="end center"
              >Tags</mat-header-cell
            ><mat-cell
              mat-cell
              *matCellDef="let art"
              fxFlex="15%"
              fxLayoutAlign="end center"
              ><mat-icon
                color="accent"
                matTooltip="Edit article"
                style="cursor: pointer"
                (click)="edit(art)"
                >edit</mat-icon
              ></mat-cell
            ></ng-container
          ><mat-header-row *matHeaderRowDef="columns"></mat-header-row
          ><mat-row *matRowDef="let rowData; columns: columns"></mat-row
        ></mat-table>
      </div>
      <mat-paginator
        [length]="articles.data.length"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 15, 20]"
        [showFirstLastButtons]="true"
      ></mat-paginator></ng-container
    ><ng-template #loading
      ><div fxFill fxLayout="column" fxLayoutAlign="center center">
        <mat-spinner diameter="60"></mat-spinner></div
    ></ng-template>
  </div>
  <span class="text-bold text-accent">Users you are subscribed to:</span>
  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="1rem">
    <ng-container *ngIf="!!subscriptions.data; else loading"
      ><mat-table [dataSource]="subscriptions" [trackBy]="trackBy"
        ><ng-container matColumnDef="email"
          ><mat-header-cell
            *matHeaderCellDef
            fxFlex="30%"
            fxLayoutAlign="start center"
            >Username</mat-header-cell
          ><mat-cell
            *matCellDef="let sub"
            fxFlex="30%"
            fxLayoutAlign="start center"
            >{{ sub.email }}</mat-cell
          ></ng-container
        ><ng-container matColumnDef="username"
          ><mat-header-cell *matHeaderCellDef>Username</mat-header-cell
          ><mat-cell *matCellDef="let sub">{{
            sub.username
          }}</mat-cell></ng-container
        ><mat-header-row *matHeaderRowDef="columnsSub"></mat-header-row
        ><mat-row
          *matRowDef="let rowData; columns: columnsSub"
        ></mat-row></mat-table></ng-container
    ><ng-template #loading
      ><div fxFill fxLayout="column" fxLayoutAlign="center center">
        <mat-spinner diameter="60"></mat-spinner></div
    ></ng-template>
  </div> -->
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4rem">
    <img
      src="../../../assets/images/image.jpeg"
      width="150px"
      style="border-radius: 50%; box-shadow: 4px 0 12px -6px #aaa"
    />
    <div
      fxFlex
      fxLayout="column"
      fxLayoutAlign="start stretch"
      fxLayoutGap="2rem"
    >
      <span class="text-extra-bold text-4xl">TheKo siceMan</span>
      <div
        fxLayoutGap="0.6rem"
        fxLayoutAlign="start center"
        class="text-gray-4"
      >
        <mat-icon class="text-accent">work</mat-icon
        ><span class="text-2xl">Retired</span>
      </div>
    </div>
  </div>
  <span class="text-xl text-gray-4">Contact Information</span>
  <div
    fxFlex="1 1 auto"
    fxLayout="row"
    fxLayout.lt-md="column"
    fxLayoutAlign="space-between stretch"
    class="description"
  >
    <div fxLayout="column" fxFlex="49%" fxFlex.lt-md="1 1 auto">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayoutGap="0.6rem" fxLayoutAlign="start center">
          <mat-icon>mail</mat-icon><span class="text-bold">E-mail:</span>
        </div>
        <span>tester@aaaaaa.de</span>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayoutGap="0.6rem" fxLayoutAlign="start center">
          <mat-icon>phone</mat-icon><span class="text-bold">Phone:</span>
        </div>
        <span>+421 911 123 456</span>
      </div>
    </div>
    <mat-divider vertical fxHide.lt-md></mat-divider>
    <div fxLayout="column" fxFlex="49%" fxFlex.lt-md="1 1 auto">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayoutGap="0.6rem" fxLayoutAlign="start center">
          <mat-icon>home</mat-icon><span class="text-bold">Street:</span>
        </div>
        <span>Bozeny Nemcovej, 123</span>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayoutGap="0.6rem" fxLayoutAlign="start center">
          <mat-icon
            ><span class="material-symbols-outlined">
              local_post_office
            </span></mat-icon
          ><span class="text-bold">Postal code:</span>
        </div>
        <span>040 01</span>
      </div>
    </div>
  </div>
  <div
    fxFlex="1 1 auto"
    fxLayout="row"
    fxLayout.lt-md="column"
    fxLayoutAlign="space-between stretch"
    fxLayoutGap="1rem"
  >
    <div
      fxLayout="column"
      fxFlex="49%"
      fxFlex.lt-md="1 1 auto"
      fxLayoutGap="0.6rem"
    >
      <span class="text-base text-extra-bold">Support:</span>
      <p class="description">
        It is a long established fact that a reader will be distracted by the
        readable content of a page when looking at its layout. The point of
        using Lorem Ipsum is that it has a more-or-less normal distribution of
        letters, as opposed to using 'Content here, content here', making it
        look like readable English. Many desktop publishing packages and web
        page editors now use Lorem Ipsum as their default model text, and a
        search for 'lorem ipsum' will uncover many web sites still in their
        infancy. Various versions have evolved over the years, sometimes by
        accident, sometimes on purpose (injected humour and the like).
      </p>
    </div>
    <div
      fxLayout="column"
      fxFlex="49%"
      fxFlex.lt-md="1 1 auto"
      fxLayoutGap="0.6rem"
    >
      <span class="text-base text-extra-bold">Info:</span>
      <div fxLayout="column" fxLayoutGap="1rem" class="description">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <span class="text-bold">Income:</span>
          <span>Pension</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <span class="text-bold">Accomondated:</span>
          <span class="text-func-green">Yes</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <span class="text-bold">Location:</span>
          <span>Rampova, 1, 040 01</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <span class="text-bold">Rooms:</span>
          <span>1</span>
        </div>
      </div>
    </div>
  </div>
  <div fxFlex fxLayout="row" fxLayoutGap="0.75rem" fxLayoutAlign="end center">
    <button mat-flat-button type="button" color="primary">
      Offer property
    </button>
  </div>
</div>
